<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title> Widest View </title>
    <link rel="icon" href="/resources/imagens/icone_logo_WV.png"/>

    <!-- CSS -->

    <link rel="stylesheet" href="/resources/node_modules/sweetalert2/dist/sweetalert2.min.css"/>

    <!-- JS (BEFORE PAGE LOAD) -->
    <script src="/resources/node_modules/jquery/dist/jquery.js"></script>
    <script src="/resources/node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
</head>
<body>