<link rel="stylesheet" href="/resources/style/indexStyle.css"/>
<link rel="stylesheet" href="/resources/node_modules/owl.carousel/dist/assets/owl.carousel.min.css"/>
<script src="/resources/node_modules/owl.carousel/dist/owl.carousel.min.js"></script>

<button id="back-to-top-btn"><i class="fas fa-angle-double-up"></i></button>

<div id="home">

    <div class="position-relative" id="video-bg" style="height:55vw;">
        <video id="top-video" autoplay loop muted playsinline style="width:100%; pointer-events:none;"></video>
        <div id="slogan-bg" style="position:absolute; top:30%; height:15vw; width:40%; background-color: rgba(255, 255, 255, 0.6);">
            <h1 id="slogan" class="ml-3 ml-md-5 ml-lg-5" style="font-size:3.5vw; margin-top:3.1vw;"> Provavelmente o <br> slogan. </h1>
        </div>
    </div>
</div>

<hr class="my-auto"/>

<div id="empresa">

    <div class="align-items-center h-100" style="padding-bottom:2rem;">
        <h2 class="text-center titulo-preto heading" style="padding-top:7rem"> Empresa </h2>
        <div class="container text-justify" style="margin-top:5rem;">
            <div class="row">
                <div class="col-12 col-lg-4 py-5 px-4">
                    <h3 class="py-2"> Quem somos </h3>
                    <p> <i> A Widest View é um grupo de jovens empreendedores originada ainda em 2020, com o objetivo de prestar serviços na área
                        de desenvolvimento de sistemas no geral. </i> </p>
                </div>
                <div class="col-12 col-lg-4 col-md-6 py-5 px-4">
                    <h3 class="py-2">O que fazemos</h3>
                    <p> <i>Trabalhamos com Design Digital, Análise de Sistemas, Análise e Desenvolvimento de Banco de Dados, Programação Front/BackEnd e Análise de Infraestrutura </i> <p>
                </div>
                <div class="col-12 col-lg-4 col-md-6 py-5 px-4">
                    <h3 class="py-2"> Nossos Objetivos </h3>
                    <p> <i> Alvejamos crescer no mercado da programação e prestação de serviços para os mais diferentes tipos de clientes, e sua
                        satisfação é temos como objetivo principal </i> <p>
                </div>
            </div>
        </div>
    </div>

</div>

<hr class="my-auto"/>

<div id="equipe">

    <div class="fixed-bg bg-imagem">
        <div class="align-items-center h-100 bg-roxo" style="padding-bottom:2rem; background-color: rgba(70,67,98,0.2);">
            <h3 class="text-center titulo-branco heading2" style="padding-top:7rem; opacity:0.8;"> Nossa Equipe </h3>
            <div>
                <div class="testimonial-wrapper" style="margin-top:1rem; color:black">
                    <div class="container">
                        <div class="testimonial owl-carousel">

                            <div class="singel-testimonial row">
                                <div class="col-md-12">
                                    <div class="testimonial-main">
                                        <div class="avatar-header row">
                                            <div class="col-md-3">
                                                <img src="/resources/imagens/felipe.png">
                                            </div>
                                            <div class="col-md-9">
                                                <h1 class="author-name"> Felipe Beserra de Oliveira </h1>
                                                <span class="title"> Desenvolvedor BackEnd e responsável pelo Projeto IOT </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="singel-testimonial row">
                                <div class="col-md-12">
                                    <div class="testimonial-main">
                                        <div class="avatar-header row">
                                            <div class="col-md-3">
                                                <img src="/resources/imagens/carvalho.png">
                                            </div>
                                            <div class="col-md-9">
                                                <h1 class="author-name"> Gabriel Carvalho Simão </h1>
                                                <span class="title"> Analista de Infraestrutura </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="singel-testimonial row">
                                <div class="col-md-12">
                                    <div class="testimonial-main">
                                        <div class="avatar-header row">
                                            <div class="col-md-3">
                                                <img src="/resources/imagens/isabela.png">
                                            </div>
                                            <div class="col-md-9">
                                                <h1 class="author-name"> Isabela de Freitas Borejo </h1>
                                                <span class="title"> Analista do Sistema </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="singel-testimonial row">
                                <div class="col-md-12">
                                    <div class="testimonial-main">
                                        <div class="avatar-header row">
                                            <div class="col-md-3">
                                                <img src="/resources/imagens/julia.png">
                                            </div>
                                            <div class="col-md-9">
                                                <h1 class="author-name"> Júlia Souza Braz </h1>
                                                <span class="title"> Analista do Sistema e Desenvolvedora do aplicativo mobile </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="singel-testimonial row">
                                <div class="col-md-12">
                                    <div class="testimonial-main">
                                        <div class="avatar-header row">
                                            <div class="col-md-3">
                                                <img src="/resources/imagens/pedro.png">
                                            </div>
                                            <div class="col-md-9">
                                                <h1 class="author-name"> Pedro Fernandes Tamas </h1>
                                                <span class="title"> Designer e Desenvolvedor FrontEnd </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="singel-testimonial row">
                                <div class="col-md-12">
                                    <div class="testimonial-main">
                                        <div class="avatar-header row">
                                            <div class="col-md-3">
                                                <img src="/resources/imagens/renan.png">
                                            </div>
                                            <div class="col-md-9">
                                                <h1 class="author-name"> Renan Ribeiro Marcelino </h1>
                                                <span class="title"> Desenvolvedor BackEnd </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="singel-testimonial row">
                                <div class="col-md-12">
                                    <div class="testimonial-main">
                                        <div class="avatar-header row">
                                            <div class="col-md-3">
                                                <img src="/resources/imagens/yasmin.png">
                                            </div>
                                            <div class="col-md-9">
                                                <h1 class="author-name"> Yasmin Francisquetti Barnes </h1>
                                                <span class="title"> Desenvolvedora FrontEnd e Analista de Banco de Dados </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<hr class="my-auto">

<div id="portfolio">

    <div class="h-100" style="padding-bottom:6rem;">
        <h2 class="text-center titulo-preto heading"> Portfólio </h2>
        <p class="text-center" style="margin-top:5rem;"> Esses são alguns de nossos trabalhos </p>
    </div>

</div>

<hr class="my-auto">

<div id="contato">

    <div class="fixed-bg bg-imagem2">
        <div class="h-100 text-white" style="padding-bottom: 4rem; color: #E5E0E0; opacity:0.8; background-color: rgba(70,67,98,0.2);">
            <h2 class="text-center titulo-branco heading2"> Contato </h2>
            <div class="container pt-5 pb-1" style="margin-top:4rem;">
                <div class="row text-center text-md-left text-lg-left">
                    <div class="col-12 item-contato col-md-6 col-lg-4 px-4">
                        <i class="fas fa-envelope-open-text" style="font-size: 35px; margin-bottom: 1rem;"> </i>
                        <h3> E-mail </h3>
                        <p> Alguma dúvida? Crítica? Sugestão? Proposta de serviço? Encaminhe para nós! </p>
                        <h5> widestview@gmail.com </h5>
                    </div>
                    <div class="col-12 item-contato col-md-6 col-lg-4 px-4">
                        <i class="fas fa-phone" style="font-size: 35px; margin-bottom: 1rem;"> </i>
                        <h3> Telefone </h3>
                        <p> Deseja estabelecer um contato direto e mais pessoal com nós? Não hesite em ligar! </p>
                        <h5> (11) 95384-8594 </h5>
                    </div>
                    <div class="col-12 col-md-12 col-lg-4 px-4">
                        <i class="fas fa-map-marker-alt" style="font-size: 35px; margin-bottom: 1rem;"> </i>
                        <h3> Endereço </h3>
                        <p> Caso queira fazer uma visita à nossa sede e ver pessoalmente nosso trabalho. </p>
                        <h5> Rua Luiz Scott, 209 </h5>
                    </div>
                </div>

                <style>
                   
                </style>

                <div class="row text-center" style="padding-top:4rem;">
                    <div class="col text-center">
                        <h4> Nossas redes sociais: </h4>
                    </div>
                </div>
                <div class="row pt-5">
                    <div class="social-menu ml-auto mr-auto">
                        <ul>
                            <li class="space-social"><a href="https://www.facebook.com/widest.view.9" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li class="space-social"><a href="https://www.instagram.com/widest_view/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            <li class="space-social"><a href="https://www.linkedin.com/in/widest-view-800ab41ba/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    const videos = [
        '/resources/videos/bgvideo1.mp4',
        '/resources/videos/bgvideo2.mp4',
        '/resources/videos/bgvideo3.mp4',
        '/resources/videos/bgvideo4.mp4'
    ]

    function getNewVideo(){
        let lastVideo = localStorage.getItem('lastVideo');
        let video = '';
        if(lastVideo === null){
            video = videos[Math.floor(Math.random() * videos.length)];
        }else{
            const index = videos.indexOf(lastVideo);
            if (index > -1) {
                let availableVideos = videos;
                availableVideos.splice(index,1);
                video = availableVideos[Math.floor(Math.random() * availableVideos.length)];
            }else{
                console.log('Error on localstorage: ' + lastVideo);
                video = videos[Math.floor(Math.random() * videos.length)];
            }
        }
        setVideo(video);
    }

    function setVideo(video){
        document.getElementById('top-video').src = video;
        localStorage.setItem('lastVideo',video);
    }

    getNewVideo();

</script>

<script type="text/javascript" src="/resources/javascript/main.js"></script>


<script>

    $(document).ready(function(){

        $(".testimonial").owlCarousel({
            items:2,
            loop:true,
            nav:false,
            dots:true,
            responsive: {
                0 : {
                    items:1
                },
                992 : {
                    items:2
                }
            }
        })

    })

</script>

<script>

    const videos = [
        '/resources/videos/bgvideo1.mp4',
        '/resources/videos/bgvideo2.mp4',
        '/resources/videos/bgvideo3.mp4',
        '/resources/videos/bgvideo4.mp4'
    ]

    function getNewVideo(){
        let lastVideo = localStorage.getItem('lastVideo');
        let video = '';
        if(lastVideo === null){
            video = videos[Math.floor(Math.random() * videos.length)];    
        }else{
            const index = videos.indexOf(lastVideo);
            if (index > -1) {
                let availableVideos = videos;
                availableVideos.splice(index,1);
                video = availableVideos[Math.floor(Math.random() * availableVideos.length)];    
            }else{
                console.log('Error on localstorage: ' + lastVideo);
                video = videos[Math.floor(Math.random() * videos.length)];    
            }
        }
        setVideo(video);
    }

    function setVideo(video){
        document.getElementById('top-video').src = video; 
        localStorage.setItem('lastVideo',video);
    }

    getNewVideo();

</script>

</body>
</html>
